---
- name: Set Chrome Flatpack permissions for PWA install
  become_user: "{{ user }}"
  ansible.builtin.command: >
    flatpak override --user
    --filesystem=~/.local/share/applications:create
    --filesystem=~/.local/share/icons:create
    com.google.Chrome
  changed_when: true

- name: Copy wallpaper file
  become_user: "{{ user }}"
  ansible.builtin.copy:
    src: ./roles/linux-workstation/files/wallpaper.jpg
    dest: /home/{{ user }}/.wallpaper.jpg
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: "600"

- name: Copy lockscreenfile
  become_user: "{{ user }}"
  ansible.builtin.copy:
    src: ./roles/linux-workstation/files/lockscreen.jpg
    dest: /home/{{ user }}/.lockscreen.jpg
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: "600"

## ssh config
- name: ssh config directory
  become_user: "{{ user }}"
  ansible.builtin.blockinfile:
    path: "/home/{{ user }}/.ssh/config"
    create: true
    mode: "0644"
    block: |
      Host *infra-code.de
      StrictHostKeyChecking no
      User dev

## bashrc / aliases
- name: "configure bashrc"
  become: true
  ansible.builtin.lineinfile:
    path: "/etc/bash.bashrc"
    mode: "0644"
    line: ". /etc/profile.d/global-bashrc.sh"
    create: yes
    state: present

- name: "template bashrc"
  become: true
  ansible.builtin.template:
    src: "bashrc.jinja2"
    dest: "/etc/profile.d/global-bashrc.sh"
    mode: "0644"
    create: yes

- name: Copy branchprune script to /usr/local/bin/ (PATH)
  ansible.builtin.copy:
    src: ./roles/linux-workstation/files/branchprune
    dest: /usr/local/bin/branchprune
    mode: "0755"

## jet brains mono
- name: Download latest JetBrains Font tarball
  ansible.builtin.get_url:
    url: https://api.github.com/repos/JetBrains/JetBrainsMono/zipball
    dest: /home/{{ user }}/jetbrainsmono.tar.gz
    mode: "0755"

- name: Create a directory if it does not exist
  ansible.builtin.file:
    path: /home/{{ user }}/jetbrainsmono-font
    state: directory
    mode: "0755"

- name: Extract .tar.gz
  ansible.builtin.unarchive:
    src: /home/{{ user }}/jetbrainsmono.tar.gz
    dest: /home/{{ user }}/jetbrainsmono-font
    list_files: yes
  register: archive_contents

- name: Remove archive (delete file)
  ansible.builtin.file:
    path: /home/{{ user }}/jetbrainsmono.tar.gz
    state: absent

- name: ensures dir exists
  ansible.builtin.file:
    path: "/usr/share/fonts/truetype/jetbrain-mono"
    state: directory
    mode: "0755"

- name: Copy each file over that matches the given pattern
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "/usr/share/fonts/truetype/jetbrain-mono"
    owner: "root"
    mode: "0755"
  with_fileglob:
    - "/home/{{ user }}/jetbrainsmono-font/{{ archive_contents.files[0] }}/fonts/variable/*.ttf"

- name: Remove extracted archive (delete file)
  ansible.builtin.file:
    path: /home/{{ user }}/jetbrainsmono-font
    state: absent
