---

# add and remove could be pulled together if iterated over a nested dict list / fine for now
# Add apt package logic
- name: write the keys into /etc/apt/keyrings/
  ansible.builtin.get_url:
    url: "{{ item.key }}"
    dest: "/etc/apt/keyrings/{{ item.repo_filename }}"
  loop: "{{ apt_packages_present }}"
  when: (item.key is defined) and (item.key != "")

- name: Add apt repository for the package
  ansible.builtin.apt_repository:
    repo: "{{ item.repo_url }}"
    filename: "{{ item.repo_filename }}"
    state: present
    update_cache: false
  loop: "{{ apt_packages_present }}"
  when: (item.repo_url is defined) and (item.repo_url != "")

- name: Install apt packages
  ansible.builtin.apt:
    name: "{{ item.name }}"
    state: present
    update_cache: true
  loop: "{{ apt_packages_present }}"
  when: (item.name is defined) and (item.name != "")

- name: Install a .deb package
  ansible.builtin.apt:
    deb: "{{ item.deb_path }}"
  loop: "{{ apt_deb_present }}"

# Remove apt package logic
- name: Remove apt packages
  apt:
    name: "{{ item.name }}"
    state: absent
    update_cache: true
  loop: "{{ apt_packages_absent }}"
  when: (item.name is defined) and (item.name != "")

- name: Remove apt repository for the package
  ansible.builtin.apt_repository:
    repo: "{{ item.repo_url }}"
    filename: "{{ item.repo_filename }}"
    state: absent
  loop: "{{ apt_packages_absent }}"
  when: (item.repo_url is defined) and (item.repo_url != "")

# flatpak / flathub
- name: Add the flathub flatpak repository remote
  community.general.flatpak_remote:
    name: flathub
    state: present
    flatpakrepo_url: https://flathub.org/repo/flathub.flatpakrepo

- name: Install flatpak apps
  community.general.flatpak:
    name: "{{ item.name }}"
    state: present
    remote: flathub
  loop: "{{ flathub_packages_present }}"
  when: (item.name is defined) and (item.name != "")

- name: Remove flatpack apps
  community.general.flatpak:
    name: "{{ item.name }}"
    state: absent
  loop: "{{ flathub_packages_absent }}"
  when: (item.name is defined) and (item.name != "")

# vmware workstation
- name: Download VMware Workstation Install binary, there is no flatpack or deb/apt release
  ansible.builtin.get_url:
    url: https://www.vmware.com/go/getworkstation-linux
    dest: /usr/local/sbin/
    mode: -rwxr-xr-x
