# {{ ansible_managed }}

# Enable 256-color support
if [ "$TERM" != "xterm-256color" ]; then
    export TERM=xterm-256color
fi

# Custom prompt based on UID
if [ $UID -eq 0 ]; then
    # Prompt for root user
    export PS1='\
\[$(tput bold; tput setaf 180)\]\u\
\[$(tput setaf 71)\]@\
\[$(tput setaf 71)\]\h\
\[$(tput sgr0; tput setaf 250)\]:\
\[$(tput bold; tput setaf 32)\]\w\
\[$(tput sgr0; tput setaf 252)\]\$ \
'

else
    # Prompt for non-root user
    export PS1='\
\[$(tput bold; tput setaf 71)\]\u\
\[$(tput setaf 71)\]@\
\[$(tput setaf 71)\]\h\
\[$(tput sgr0; tput setaf 250)\]:\
\[$(tput bold; tput setaf 32)\]\w\
\[$(tput sgr0; tput setaf 252)\]\$ \
'
fi


alias ll="ls --color=auto -lisah"
alias grep="grep --color=auto"
